<section class='list' id='<%="list#{list.id}" %>'>
  <h2>
    <%= link_to list, method: :delete, remote: true do %>
      <i class="material-icons  icon">clear</i>
     <% end %>
    <%= list.title %> 
  </h2>

  <%= render 'items/form', this_id: list.id %>
  <% list.items.each do |item| %>
    <%= render item %>
  <% end %>
  <script>
    var listId = '<%= list.id %>';
    addItemListeners(listId);
  </script>
</section>