<section id='list<%= @list.id %>' class='list'>

  <h1>To Do</h1>
  <p id="notice"><%= notice %></p>

  <section id='new-item-form'>
    <%= render 'items/form', this_id: @list.id %>
  </section>

  <script>
    var listId = '<%= @list.id %>';
    addItemListeners(listId);
  </script>

  <section class='item-list'>
    <%= render @items %>
  </section>
</section>

