<section id='<%="item#{item.id}"%>' class="<% if item.checked? %> 
               <%= 'completed item-row' %>
               <% else %>
               <%= 'item-row' %>
               <% end %> ">

  <%= check_box_tag('completed', 'completed', item.completed) %>
  
  <%= link_to item, method: :delete, remote: true  do %>
    <i class="material-icons float-right icon">clear</i>
  <% end %>

  <%= link_to item do %>
  <%= item.content ? item.content.html_safe : ''%>
  <% end %>
  <script>
    var context = $('#item<%= item.id %> input[type=checkbox]');
    addToggleCompleted('<%= item.id %>', context);
  </script>
</section>
  
