  <p>
    <input type = 'checkbox' name = 'completed'  
      <%= print(' checked ') if item.completed == true %> >

    <%= item.content %>
  </p>
  <!-- <td><%= link_to 'Show', item %></td>
  <td><%= link_to 'Edit', edit_item_path(item) %></td>
  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
