<!DOCTYPE html>
<html>
<head>
  <title>Todo App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag     'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id='wrapper'>
    
    <%= yield %>

    <footer>
     Tyler Korthal &copy; <%= Time.new().year %>
    </footer>
  </section>
</body>
</html>
